@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
  --button-color: rgb(224, 223, 218);
  --hover-color: rgb(190, 189, 189);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 30px auto;
  width: 800px;
}

.music-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(25, 21, 48, 0.473);
  /* display: flex; */
  padding: 20px 30px;
  position: relative;
  margin: 10px 0;
  z-index: 10;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
}

button, .button {
  cursor: pointer;
  background-color: var(--button-color);
  color: rgb(48, 48, 48);
  border-radius: 2px;
  border: 1px solid #bbb;
  display: block;
  padding: 2px 10px;
  margin: 2px 5px;
  font-size: 16px;
  font-family: 'Lora', serif;
}

label {
  margin-right: 10px;
}

button:hover, .button:hover {
  background-color: var(--hover-color);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  /* font-weight: 800; */
}

.hide {
	display: none;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
